@{
    ViewData["Title"] = "Index";
}
<h2>DIS Project Submission</h2>
<h2>IEX Trading Application - An Adaptation by Group #23</h2>
<h2>Arpita Nayak -  Pedro Ortiz Rodriguez - Harshavardhan Reddy Perugu</h2>
<hr />

<div>
    <p>
        This application let's you fetch trading data from IEX via their public <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Quote">Quote</a> tab let's you select a Company(symbol) and fetches a quote from
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The quote can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a> tab let's you refresh the local database, that is, remove all its contents.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="FinancialReports">Financial Reports</a> tab let's you load into the database Financial information of companies you wish to add to Top 5 Stock Picking Method.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Stats">Top 5</a> tab let's get information on the 5 Stocks that currently have top perfomance according to the team's Stock picking strategy.
    </p>
    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API.</li>
            <li>Connection to database.</li>
            <li>CRUD operations.</li>
        </ul>
    </p>
</div>