@model Dictionary<string, int>
@{
    ViewData["Title"] = "Refresh";
}
<h2>Refresh</h2>
<hr />
<p>Refreshing the tables, deletes all contents of the tables.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Table
            </th>
            <th>
                Records
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                All
            </td>
            <td>
                @Model.Values.Sum()
            </td>
            <td>
                <a asp-controller="Home" asp-action="Refresh" asp-route-tableToDel="all">Refresh</a>
            </td>
        </tr>
        @foreach (KeyValuePair<string, int> item in Model)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Refresh" asp-route-tableToDel=@item.Key>Refresh</a>
                </td>
            </tr>
        }
        <hr />


    </tbody>
</table>
<p>
    <hr />
    Note: Be Careful about deleting all components from Site. If doing so, please save data again in the following manner:
    <ul>
        <li>1. Store Symbols. This process takes a while since it takes 8000+ symbols from IEX API.</li>
        <li>2. Store Financial Reports until records reach numbers above 50. If not ranking will not work.</li>
        <li>3. Try using Financial Reports from Big Companies (I.E. Amazon, Google, American Airlines, etc). There where many companies that did not provide suficient information for ranking.</li>
    </ul>
<p>
    <pi>After all this is done you should be able to see the Top 5 Stock Ranking.</pi>


</p>
        
